
/* ==========================================================================
   HEADER
   ========================================================================== */

.c-page-header {
  background: $color-gray-light;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  height: 100px;  
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  position: relative;
  z-index: 1;
  // enable styles below for usage with headroom.js
  // position: fixed;
  // top: 0;
  // width: 100%;
  // z-index: z(overlay);
}


.c-main-navigation svg {
	font-size:25px;
}

a.c-nav-linkedin {
	height: 25px !important;
	display: inline-flex;
	position:relative;
	top: 4px;
	color: #0077B5;
	margin-left: 20px;
}

a.c-nav-linkedin:hover {
	color: #eca400;
}
