/* ==========================================================================
   MAIN LOGO
   ========================================================================== */

.c-logo-main {
  position: absolute;
  top: 7px;
  z-index: z(default);
  & a {
    display: block;
  }
  & img {
    display: block;
    width: 150px;
    height: auto;
    @media (width >= $bp-medium) {
      width: 140px;
     } 
  }
}
