/* ==========================================================================
   HORIZONTAL RULE
   ========================================================================== */

   hr, hr.wp-block-separator {
    display: block;  // border: none;
    padding: 0;
    clear: both;
    width: 100%;
    border-top: 0;
    border-color: #ccc;
    margin: 30px auto;
  }